# Browser editor HTTPS front-end (Caddy). Managed by browser_editor_lib.sh.
{
	auto_https disable_redirects
}

:__PUBLIC_PORT__ {
	tls __TLS_DIR__/self.crt __TLS_DIR__/self.key

	forward_auth __WAKE_ADDR__ {
		uri /wake
	}

	reverse_proxy __UPSTREAM__ {
		header_up Host {host}
		header_up X-Real-IP {remote_host}
	}
}
